* {
  box-sizing: border-box;
}

body {
  background: #dbe6f6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f7e0dd,
    #dbe6f6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f7e0dd,
    #dbe6f6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.position-size-holder {
  min-height: 86vh;
}
.form-holder {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;

  padding: 20px 10px;

  box-shadow: 13px 2px 28px -10px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 13px 2px 28px -10px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 13px 2px 28px -10px rgba(0, 0, 0, 0.36);
}

div.app-name-holder {
  margin-top: 20px;
  padding: 24px 24px 0px 24px;
}

footer {
  background-color: #303030;
  color: #dbe6f6;
}

footer a {
  color: #fff;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .main-grid {
    margin: 10px 0;
  }
  div.app-name-holder {
    font-weight: 700;
    margin-top: 10px;
    padding: 12px 12px 0px 26px;
  }
}
